@font-face {
  font-family: "MetaPro";
  font-weight: 400;
  src: local("☺"), url("./fonts/MetaWebPro-Book.woff2") format("woff2"),
    url("./fonts/MetaWebPro-Book.woff") format("woff");
}

@font-face {
  font-family: "MetaPro";
  font-weight: 500;
  src: local("☺"), url("./fonts/MetaWebPro-Medium.woff2") format("woff2"),
    url("./fonts/MetaWebPro-Medium.woff") format("woff");
}

body {
  margin: 0;
  font-family: "MetaPro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
