@import "./variables.scss";

html {
  background-color: $black;
}

.header {
  font-weight: 500;
}

.crossword {
  .grid {
    background-color: $black;
  }

  .clues {
    padding: 26px 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }

  .direction {
    width: 48%;
  }

  .clue {
    padding: 4px 6px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 1px !important;
  }

  svg {
    g {
      cursor: text !important;
    }
  }
}

:focus {
  box-shadow: 0 0 0 3px $blue;
  outline: none;
  border-radius: 4px;
}

input[type="text"] {
  cursor: text !important;
}
